/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Light theme */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

input,
button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0b7dda;
}

/* Dark theme */
body.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

input,
button {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
}

input:focus,
button:focus {
    border-color: #555555;
}

/* Mobile styles */
.mobile-navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.mobile-navbar-wrapper .hamburger {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.mobile-navbar-wrapper .login-btn {
    background-color: #46484a;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.mobile-navbar-wrapper .login-btn:hover {
    background-color: #0b7dda;
}

.mobile-nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.mobile-nav-links.open {
    display: flex;
    max-height: 300px;
}

.mobile-nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s;
}

.mobile-nav-links a:hover {
    background-color: #575757;
}

.theme-toggle {
    position: absolute;
    top: 10px;
    left: 45%;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}